@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #ffffff;
  color: #a5a5a5;
}
.upcoming-events {
  font-size: 56px;
  color: black;
  font-weight: bolder;
  text-transform: capitalize;
}
div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin-bottom: 0px;
}
p {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
  color: #929191;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
p a {
  display: inline;
  position: relative;
  color: inherit;
  border-bottom: solid 1px #ffa07f;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
p:last-of-type {
  margin-bottom: 0;
}
a {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
p a:active {
  position: relative;
  color: #ff6347;
}
p a:hover {
  color: #ffffff;
  background: #ffa07f;
}
p a:hover::after {
  opacity: 0.2;
}
::selection {
  background: #329fec;
  color: #ffffff;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.form-control {
  color: #db5246;
}
section {
  display: block;
  position: relative;
  box-sizing: border-box;
}
.clear {
  clear: both;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}

.fill_height {
  height: 100%;
}
.super_container {
  width: 100%;
  overflow: hidden;
}

.nopadding {
  padding: 0px !important;
}
.reset_container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.button {
  width: 205px;
  height: 52px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 5px;
}
.button::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  content: "";
  background-color: #4867c0;
  background-image: linear-gradient(to right, #4867c0, #329fec, #4867c0);
  background: #4867c0;
  background: linear-gradient(to right, #4867c0, #329fec, #4867c0);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.button a {
  display: block;
  position: relative;
  line-height: 52px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  z-index: 1;
}
.button:hover::before {
  left: -100%;
}

/*********************************
5. Intro
*********************************/

.intro {
  width: 100%;
  background: #ffffff;
  padding-top: 55px;
  padding-bottom: 67px;
  padding-left: 144px;
  padding-right: 144px;
}
.intro_content {
  flex-grow: 1;
}
.intro_item {
  width: calc((100% - 60px) / 3);
  background: #f3f7f9;
  margin-bottom: 48px;
}
.intro_image {
  width: 100%;
}
.intro_image img {
  max-width: 100%;
}
.intro_body {
  padding-left: 39px;
  padding-top: 33px;
  padding-bottom: 39px;
}

.intro_item:hover .intro_body::after {
  opacity: 1;
}
.intro_title a {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #4c4c4c;
  z-index: 1;
}

.intro_subtitle {
  font-size: 14px;
  font-weight: 500;
  color: #888888;
  margin-top: -1px;
  padding-left: 1px;
  z-index: 1;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
   .modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}



.lds-ring {
	display: inline-block;
	position: absolute;
	width: 80px;
	height: 80px;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;  
  }
  .lds-ring div {
	position: absolute;
	box-sizing: border-box;
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid rgb(0, 0, 0);
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: rgb(0, 0, 0) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
  }
  @keyframes lds-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  